*{
	--bkg-color:#051d3b;
}

.container{
	margin: 10 0 10 0;
	display:flex
	flex-direction:column;
	background-color:var(--bkg-color);
}

.top-menu{
	display:flex;
	width:100%;
	height:80px;
	justify-content:space-around;
	background-color: var(--bkg-color);
	align-items:center;

}

.top-menu > input{
	background-color:#2d415a;
	border-radius:5px;
	height:50%;
	width:50%;
}

.logo{
	height:90%;
}

.left-menu{
	color:white;
	display:flex;
	flex-direction:column;
}
